.page {
  background-color: #d0d0d0;
  background-size: auto;
}

.page__content {
  margin: 0 auto;
}

.main-content {
  flex: 1;
}

.form__input {
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}


