.pokemon{
    max-width: 1360px;
    margin: 0;
    
}

.pokemon__info{
display: flex;
border: dotted 1.5px green;
}

.pokemon__list{
    padding: 0;
    max-width: 1360px;
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(auto-fit, 453px);
    list-style: none;
    
    overflow: hidden;
}

.pokemon__name{
    font-family: "CabinetGrotesk";
    font-size: 25px;
    margin-top: 35px;
}