.header {
  margin: 0;
  display: flex;
  padding-left: 10px;
  background-color: red;
  max-height: 80px;
  font-family: "CabinetGrotesk", sans-serif, Arial;
}

.header__text {
  margin: 0;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 45px;
  margin-right: auto;
}

.header__search-pokemon-btn {
  max-width: 150px;
  max-height: 30px;
  margin-top: 20px;
  margin-left: 15px;
  padding: 5px;
  border-radius: 10px;
  border: 0;
  background-color: white;
}
.header__search-pokemon-btn:hover {
  cursor: pointer;
  background-color: #cacaca;
}
.highlight {
  color: black;
}

/*breaks at 700 and 475*/

@media screen and (max-width: 759px) {
  .header__text {
    font-size: 25px;
    align-content: center;
    padding-top: 0;
  }
  .header__search-pokemon-btn {
    margin-top: 13px;

    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .header__search-pokemon-btn {
    font-size: 10px;
  }
}
