.footer {
  margin: 0;
  background-color: white;
}

.footer__text {
  margin: 0;
  font-family: "CabinetGrotesk";
  display: flex;
  gap: 20px;
}

.footer__creator {
  margin: 0;
  font-size: 16px;
}

.footer__date-year {
  margin: 0;
  font-size: 16px;
}
